.THIS {
}

.THIS .headBorder {
	border-top:solid 1px #D8DDE6;
	border-right:solid 1px #D8DDE6;
	border-left:solid 1px #D8DDE6;
}

.THIS .bodyBorder {
	border: solid 1px #D8DDE6;
	border-top:none;
}

.THIS .mouseIcon {
	cursor:pointer;
}

.THIS .disableLink {
    pointer-events: none;
	cursor: default;
	color: #D8DDE6;
}