<html>
    <head>
         <link href="css/bootstrap.min.css" rel="stylesheet"> 
         <link rel="icon"  type="image/icon"  href="Node.ico" />
    </head>
    <body ng-app="postgreSQL">
        <div class="container" style="margin-top:20px;"  ng-controller="postgreSQLCtrl">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">
                        <h1>
                            PostgreSQL in Nodejs
                        </h1>
                        <p>
                            This application demonstrates database operations using PostgreSQL as a database, Heroku as platform, Node.js as language and Angularjs as javascript based MVC.
                            <br /> <br />
                            <a class="pull-right" href="http://JitendraZaa.com"> Jitendra Zaa </a> 
                        </p>

                    </div>
                </div>
            </div>
            
            <div class="row clearfix" style="margin-bottom:10px;">
                <div class="controls form-inline form-group">
                    <div class="col-md-2">
                        <input id="fName" name="fName"  placeholder="First Name" ng-model="fName"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <input id="lName" name="lName"  placeholder="Last Name" ng-model="lName"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <input id="Email" name="Email"  placeholder="Email" ng-model="email"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <input id="mobile" name="mobile"  placeholder="Mobile" ng-model="mbl"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <button ng-click="addRecord()" id="btnAdd" name="btnAdd" class="btn btn-danger">Add</button>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix"> 
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>  Id  </th>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th>  Email </th>
                            <th>  Mobile </th>
                            <th>   </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataset">
                            <td> {{item.id}} </td>
                            <td> {{item.firstname}} </td>
                            <td> {{item.lastname}} </td>
                            <td> {{item.email}} </td>
                            <td> {{item.mobile}} </td>
                            <td> <span title="delete this record" class="glyphicon glyphicon-trash text-danger" style="cursor:pointer" ng-click="delRecord(item.id)"></span> </td>
                        </tr>
                    </tbody>
                </table> 
                 
            </div>
        </div>
        
        <script src="lib/angular.min.js"></script>
        <script>
 
            var myApp = angular.module('postgreSQL',[ ]); 
             
            myApp.controller('postgreSQLCtrl', ['$scope' ,'$http',  function($scope,$http) {
                $scope.val1 = 'This is temp Val' ;  
                $scope.fName = '';
                $scope.lName = '';
                $scope.email = '';  
                $scope.mbl = '' ;
                
                $scope.getAllRec = function(){ 
                    alert('Get Records');
                     $http({method: 'GET', url: '/db/readRecords'}).
                        success(function(data, status) { 
                              $scope.dataset = data; 
                        }).
                        error(function(data, status) {
                          $scope.dataset = data || "Request failed "; 
                      }); 
                }
                
                
                $scope.addRecord = function(){ 
                    $http({method: 'GET', url: '/db/addRecord?fName='+$scope.fName+'&lName='+
                           $scope.lName+'&email='+$scope.email+'&mbl='+$scope.mbl}).
                        success(function(data, status) { 
                                alert('Record Added');
                                $scope.getAllRec();
                        });  
                }
                
                $scope.delRecord = function(recId){
                    console.log(recId);
                    if(confirm('Are you sure you want to delete this record ? '))
                    {
                        $http({method: 'GET', url: '/db/delRecord?id='+recId}).
                            success(function(data, status) {  
                                    $scope.getAllRec();
                            });
                    }
                } 
                
                $scope.getAllRec();
                
            }]);
 
        </script>
        
    </body>
    
</html>