.THIS {
}

.THIS .headBorder {
	border-top:solid 1px #D8DDE6;
	border-right:solid 1px #D8DDE6;
	border-left:solid 1px #D8DDE6;
}

.THIS .bodyBorder {
	border: solid 1px #D8DDE6;
	border-top:none;
}

.THIS .searchwidth {
    width: 150px;
}

.THIS a:link {
	text-decoration:none;
    color:#16325C;
}

.THIS a:visited {
	text-decoration:none;
    color:#16325C;
}

.THIS a:hover {
	text-decoration:none;
    color:#16325C;
}

.THIS a:active {
	text-decoration:none;
    color:#16325C;
}

.THIS .mouseIcon {
	cursor:pointer;
}

.THIS .btnWidth {
    width:100px;
}

.THIS .btnPlacement {
    margin-top:36px;
}

.THIS .uiPointerEvent {
    pointer-events:none;
}