.THIS {
}

.THIS .linkStyle {
	color: #0070D2;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}

.THIS .linkStyle:hover {
	color: #0070D2;
    text-decoration: underline;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
    cursor:pointer;
}

.THIS .hideRow {
	display:none;
}