.THIS {
}

.THIS .mouseIcon {
	cursor:pointer;
}

.THIS .datePickerWidth {
	width:120px;
}

.THIS .headerBorder {
	border:solid 1px #D8DDE6;
}

.THIS .bodyBorder {
	border: solid 1px #D8DDE6;
	border-top:none;
}

.THIS table {
	font-size:.85em;
}

.THIS .col1 {
	width:7%;
}

.THIS .col2 {
	width:13%;
}

.THIS .col3 {
	width:8%;
}

.THIS .col4 {
	width:7%;
}

.THIS .col5 {
	width:12%;
}

.THIS .col6 {
	width:12%;
}

.THIS .col7 {
	width:12%;
}

.THIS .col8 {
	width:12%;
}

.THIS .col9 {
	width:12%;
}

.THIS .col10 {
	width:5%;
}

.THIS .headercol1 {
	width:7%;
}

.THIS .headercol2 {
	width:13%;
}

.THIS .headercol3 {
	width:8%;
}

.THIS .headercol4 {
	width:7%;
}

.THIS .headercol5 {
	width:12%;
}

.THIS .headercol6 {
	width:12%;
}

.THIS .headercol7 {
	width:12%;
}

.THIS .headercol8 {
	width:12%;
}

.THIS .headercol9 {
	width:12%;
}

.THIS .headercol10 {
	width:5%;
}

.THIS .uiPointerEvent {
    pointer-events:none;
}