<apex:page showHeader="false" standardStylesheets="false" applyHtmlTag="false" standardController="Form__c" extensions="FormReportController" renderAs="html">
<head>
<style type="text/css" media="print">
    @page {
        margin-top: 40mm;

        @top-center {
            content: element(pageHeader);
        }

        @bottom-left {
            font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size:60%;
            content: "BOX_SLIP v1.09 Dated 9/23/07";
        }

        @bottom-right {
            font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size:60%;
            content: "Print Date/Time: {!now()}";
        }
    }

    div.footer {
        display: block;
        padding: 5px;
        position: running(footer);
    }

    div.pageHeader {
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        position: running(pageHeader);
    }

    body{
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
    }
</style>
</head>

<div class="pageHeader">
    <H3 style="text-align: center;"><span style="border-style: solid;">OWY BOX SLIP</span></H3>
    <table>
        <tr>
            <td style="width:375px;">
                <table>
                    <tr>
                        <td><strong><apex:outputLabel value="HQ Manager:"/></strong></td>
                        <td><apex:outputText style="text-decoration: underline;" value="{!acct.Owner.Name}"/></td> 
                    </tr>
                    <tr>
                        <td><strong><apex:outputLabel value="Sales Rep:"/></strong></td>
                        <td><apex:outputText style="text-decoration: underline;" value="{!confirm.SalesRep__r.Name}"/></td>  
                    </tr>
                    <tr>
                        <td><strong><apex:outputLabel value="Season:"/></strong></td>
                        <td><apex:outputText style="text-decoration: underline;" value="{!confirm.Season__r.Name}"/></td> 
                        <td><strong><apex:outputLabel value="OE:"/></strong></td>
                        <td>
                            <apex:outputText style="text-decoration: underline;" value="{0,date,yyyy/MM/dd}">
                                <apex:param value="{!form.OrderEntry__c}" />
                            </apex:outputText>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:375px;vertical-align: text-top;">
                <p> </p>
            </td>
            <td style="width:375px;">
                <table>
                    <tr>
                        <td><strong><apex:outputLabel value="School:"/></strong></td>
                        <td><apex:outputText style="text-decoration: underline;" value="{!acct.Name}"/></td> 
                    </tr>
                    <tr>
                        <td><strong><apex:outputLabel value="Code:"/></strong></td>
                        <td><strong><apex:outputText value="OWY"/></strong></td>  
                    </tr>
                    <tr>
                        <td><strong><apex:outputLabel value=""/></strong></td>
                        <td><strong><apex:outputLabel value=""/></strong></td>  
                    </tr>
                    <tr>
                        <td><strong><apex:outputLabel value="Ship Date:"/></strong></td>
                        <td>
                            <apex:outputText value="{0,date,yyyy/MM/dd}">
                                <apex:param value="{!form.ActualShip__c}" />
                            </apex:outputText>
                        </td>  
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="border-style: solid;width:100%;">
        <tr>
            <td style="width:15%"><strong>Receive Date:</strong></td>
            <td style="width:15%">
                <apex:outputText value="{0,date,yyyy/MM/dd}" style="text-align: left;">
                    <apex:param value="{!form.ActualReceive__c}" />
                </apex:outputText>
            </td> 
            <td style="width:25%"></td>
            <td style="width:10%"><strong>Phase:</strong></td>
            <td style="text-align: left;width:10%">{!form.FormType__c} {!form.FormSequence__c}</td>
            <td style="width:15%"><strong>Days Late:</strong></td>
            <td style="text-align: left;width:10%">{!form.DaysLate__c}</td>
        </tr>
        <tr>
            <td style="width:15%"><strong>Test:</strong></td>
            <td style="text-align: left;width:15%"></td> 
            <td style="width:25%"> </td>
            <td style="width:10%"><strong>Program:</strong></td>
            <td style="text-align: left;width:10%">{!confirm.RecordType.Name}</td>
            <td style="width:15%"><strong></strong></td>
            <td style="text-align: left;width:10%"></td>
        </tr>
    </table>
</div>

<body>

<table style="width:40%;table-layout: fixed;-fs-table-paginate: paginate;">
    <tr>
        <td style="text-align: center;"><strong>#</strong></td>
        <td style="text-align: center;"><strong>PROD</strong></td>
        <td style="text-align: center;"><strong>COPY</strong></td>
    </tr>
    <apex:repeat value="{!oLines}" var="line" >
        <tr>
            <td style="border: 1px solid black;text-align: center;">{!line.qty}</td>
            <td style="border: 1px solid black;text-align: center;">{!line.code}</td>
            <td style="border: 1px solid black;text-align: center;"> </td>
        </tr>
    </apex:repeat>
</table>

<table style="width:40%;table-layout: fixed;">
    <tr>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>{!numOrders}</strong></td>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>ORDERS</strong></td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>{!numProducts}</strong></td>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>PRODUCTS</strong></td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>
            <apex:outputText value="${0, number, ###,##0.00}">
                <apex:param value="{!orderValue}" />
            </apex:outputText>
        </strong></td>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>ORDER VALUE</strong></td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>
            <apex:outputText value="${0, number, ###,##0.00}">
                <apex:param value="{!totalValue}" />
            </apex:outputText>
        </strong></td>
        <td style="border-bottom: 1px solid #000;text-align: center;"><strong>TOTAL VALUE</strong></td>
    </tr>
</table>

<table style="width:100%;table-layout: fixed;">
    <tr>
        <td style="text-align: left;">MFG INSTX</td>
        <td style="text-align: left;">MATCH INSTX</td>
        <td style="text-align: left;">SPECIAL INSTX</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;height:75px;">{!confirm.ManInstructions__c}</td>
        <td style="border: 1px solid black;height:75px;">{!confirm.MatchInstructions__c}</td>
        <td style="border: 1px solid black;height:75px;"></td>
    </tr>
</table>

<table style="width:100%;table-layout: fixed;">
    <tr>
        <td style="text-align: left;width:25%"><strong>SHIPPING INSTRUCTIONS</strong></td>
        <td style="border: 1px solid black;width:75%;height:40px;">{!confirm.ShipInstructions__c}</td>
    </tr>
</table>

<div style="border-top: 3px solid #000;width:100%;" />
<strong>Closed Dates</strong>

<table style="width:100%;">
    <tr>
        <td style="font-size:75%;width:20%"><strong>LAST SCHOOL DATE</strong></td>
        <td>
            <apex:outputText value="{0,date,yyyy/MM/dd}" style="text-align: left;font-size:75%;width:15%">
                <apex:param value="{!confirm.LastSchoolDate__c}" />
            </apex:outputText>
        </td> 
        <td style="font-size:75%;width:15%"><strong>RESUME DATE</strong></td>
        <td>
            <apex:outputText value="{0,date,yyyy/MM/dd}" style="text-align: left;font-size:75%;width:15%">
                <apex:param value="{!confirm.ResumeDate__c}" />
            </apex:outputText>
        </td>
        <td style="font-size:75%;width:8%"><strong>State</strong></td>
        <td style="font-size:75%;text-align: left;width:7%">{!acct.BillingState}</td>
        <td style="font-size:75%;width:10%"><strong># DAYS</strong></td>
        <td style="font-size:75%;text-align: left;width:10%">{!confirm.ClosedDates__c}</td>
    </tr>
</table>

</body>
</apex:page>