<apex:page standardController="Confirmation__c" extensions="PerCapReportController" showHeader="false" sidebar="false" docType="html-5.0" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" renderAs="pdf">
	<head>
		<style type="text/css" media="print">
			@page {
				size: 11in 8.5in;
				margin-top: 4cm;

				@top-center {
					content: element(pageHeader);
				}
			}

			body {
				font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
			}

			table {
				width:100%;
				border-collapse: collapse;
			}

			table thead th {
				border-bottom:solid 1px black;
			}

			.textAlignCenter {
				text-align:center;
			}

			div.pageHeader {
				font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 12px;
				position: running(pageHeader);
			}
		</style>
	</head>
	<div class="pageHeader">
		{!Information}
		<h1 style="text-align:center;color:#B00A0A">OWY PER CAP REPORT</h1>
		<h2 style="color:#B00A0A">Season: {!season}</h2>
		<h2 style="color:#B00A0A">Note: Active Confirmations Only</h2>
	</div>
	<body>
		<table>
			<thead>
				<th class="textAlignCenter">Type</th>
				<th class="textAlignCenter">Schools Order Entered</th>
				<th class="textAlignCenter">Total Ordered</th>
				<th class="textAlignCenter">Actual</th>
				<th class="textAlignCenter">Est.</th>
				<th class="textAlignCenter">Per Capita</th>
				<th class="textAlignCenter">Average Order Value</th>
			</thead>
			<tbody>
				<tr class="textAlignCenter">
					<td>SBYB</td>
					<td>{!sbybCount}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!sbybTotal}"/>
						</apex:outputText>
					</td>
					<td>{!FLOOR(sbybActualPop)}</td>
					<td>{!FLOOR(sbybEstPop)}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!SBYBPerCap}"/>
						</apex:outputText>
					</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!SBYBAverageOrderValue}"/>
						</apex:outputText>
					</td>
				</tr>
				<tr class="textAlignCenter">
					<td>OP</td>
					<td>{!opCount}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!opTotal}"/>
						</apex:outputText>
					</td>
					<td>{!FLOOR(opActualPop)}</td>
					<td>{!FLOOR(opEstPop)}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!OPPercap}"/>
						</apex:outputText>
					</td>
					<td>-</td>
				</tr>
				<tr class="textAlignCenter">
					<td>Tile Wall</td>
					<td>{!tileCount}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!tileTotal}"/>
						</apex:outputText>
					</td>
					<td>{!FLOOR(tileActualPop)}</td>
					<td>{!FLOOR(tileEstPop)}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!TilePercap}"/>
						</apex:outputText>
					</td>
					<td>-</td>
				</tr>
				<tr class="textAlignCenter">
					<td>Gallery</td>
					<td>{!galleryCount}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!galleryTotal}"/>
						</apex:outputText>
					</td>
					<td>{!FLOOR(galleryActualPop)}</td>
					<td>{!FLOOR(galleryEstPop)}</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!GalleryPercap}"/>
						</apex:outputText>
					</td>
					<td>
						<apex:outputText value="{0,Number,Currency}">
							<apex:param value="{!GalleryAverageOrderValue}"/>
						</apex:outputText>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</apex:page>