<apex:page standardController="Form__c"  extensions="ReceivingReportController" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" renderAs="pdf">    
<!--<apex:stylesheet value="{!URLFOR($Resource.ReportCSS, 'Receiving.css')}"/>-->    
  <head>
    <title>OW Receiving Report</title>
    <style type="text/css" media="print">
      @page {
        size: 11in 8.5in;
        margin-top: 2.3cm;

        @top-center {
          content: element(pageHeader);
        }
      }

      body{
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size:10pt;

      }

      table {
        width:100%;
        -fs-table-paginate: paginate;
      }

      th {
        border-bottom:solid #000000 1px;
      }

      .separateTBody {
        border-bottom:solid #2E2E2E 1px; 
        padding-top:15px;
      }

      div.pageHeader {
          font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 12px;
          position: running(pageHeader);
      }
    </style>
  </head>  
  <div class="pageHeader">
    <h1>Original Works Receiving Report</h1>
    {!FormRecords}
    <h3>for the period: {!start} to {!endd}</h3>
  </div>
  <body>
    <table>
      <thead>
        <th>Code</th>
        <th>School Name</th>
        <th>Actual</th>
        <th>Projected</th>
        <th>Proj. Ship Date</th>
        <th>Season</th>
        <th>Form</th>
        <th>Type</th>
        <th>State</th>
        <th>Who</th>
      </thead>
      <apex:outputText value="{!DynamicTables}" escape="false"/>
    </table>
    <p>Schools on this report: {!totalSchoolCount} </p>
  </body>
</apex:page>