<apex:page standardController="Confirmation__c" extensions="SalesAnalysisReportController" showHeader="false" sidebar="false" docType="html-5.0" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" renderAs="pdf">
  <head>
  	<title>OWY Sales Analysis</title>
  	<style type="text/css" media="print, screen">
  		@page {
        	size: 11in 8.5in;
        	margin-top: 2cm;

        	 @top-center {
            	content: element(pageHeader);
        	}

        	@bottom-left {
            	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
            	font-size:60%;
            	content: "{!Month(Today())}/{!Day(Today())}/{!Year(Today())}";
        	}

        	@bottom-right {
            	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
            	font-size:60%;
            	content: "page " counter(page) " of " counter(pages);
        	}
      	}

      	body{
          font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
        	font-size:10pt;
      	}

       table {
          width:100%;
          -fs-table-paginate: paginate;
        }

        th {
          border-bottom:solid #000000 1px;
        }

        p {
          font-weight: bold;
        }

  		.textAlign {
  			text-align:center;
  		}

  		div.pageHeader {
        	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
        	font-size: 12px;
        	position: running(pageHeader);
    	}

  		div.footer {
        	display: block;
        	padding: 5px;
        	position: running(footer);
    	}
  	</style>
  </head>
  <div class="pageHeader">
  	<h2 class="textAlign">OWY Sales Analysis - {!season} </h2>
  </div>
  <body>
  <table>
    <thead>
      <th>Code</th>
      <th>State</th>
      <th>Program</th>
      <th>Level</th>
      <th>Type</th>
      <th>Proj. Pop.</th>
      <th>Actual Pop.</th>
      <th>Part. %</th>
      <th>Proj. $</th>
      <th>Actual $</th>
      <th>Per Cap</th>
      <th>Source</th>
      <th>HQ</th>
      <th>Rep</th>
      <th>Sub Rep</th>
    </thead>
    <tbody>
      <apex:repeat value="{!ConfRecords}" var="confirm">
        <tr>
          <td>{!confirm.Account__r.SchoolCode__c}</td>
          <td>{!confirm.Account__r.BillingState}</td>
          <td>{!confirm.RecordType.Name}</td>
          <td>{!confirm.Account__r.SubType__c}</td>
          <td>{!confirm.Account__r.Type__c}</td>
          <td class="textAlign">{!confirm.SeasonPopEstimate__c}</td>
          <td class="textAlign">{!confirm.ActualPop__c}</td>
          <td class="textAlign">
            <apex:outputText value="{0, number, .0}">
              <apex:param value="{! (confirm.ActualPop__c / confirm.SeasonPopEstimate__c) * 100}"/>
            </apex:outputText>
          </td>
          <td>{!confirm.Projection__c}</td>
          <td>{!confirm.TotalRevenue__c}</td>
          <td class="textAlign">{!confirm.AverageOrder__c}</td>
          <td>{!confirm.LeadSource__c}</td>
          <td>{!LEFT(confirm.SalesRep__r.HQMGR__r.FirstName, 1)}{!LEFT(confirm.SalesRep__r.HQMGR__r.LastName, 1)}</td>
          <td>{!confirm.SalesRep__r.LastName}</td>
          <td>{!confirm.SubSalesRep__r.LastName}</td>
        </tr>
      </apex:repeat>
    </tbody>
  </table>
    <p>{!totalCount}</p>
  </body>
</apex:page>