<apex:page standardController="Confirmation__c" extensions="SeasonForecastHQMGRSummaryController" showHeader="false" sidebar="false" docType="html-5.0" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" renderAs="pdf">
	<head>
		<style type="text/css" media="print">
			@page {
				size: 11in 8.5in;
        		margin-top: 3.3cm;

		        @top-center {
	        		content: element(pageHeader);
		        }

		        @bottom-left {
		        	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		        	font-size:60%;
		        	content: "OWY_SeasonForecast HQMGR_Summary v1.03 08/10/06 The CRM Connection, LLC (Denver, CO)";
		        }

		        @bottom-center {
		        	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		        	font-size:60%;
		        	content: "page " counter(page) " of " counter(pages);
		        }

		        @bottom-right {
		        	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		          	font-size:60%;
		          	content: "{!Month(Today())}/{!Day(Today())}/{!Year(Today())}";	
		        }
      		}

      		body {
            font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
      			color:#B00A0A;
      		}

      		div.pageHeader {
      			font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
      			position: running(pageHeader);
      		}

      		table {
      			width:100%;
      			border-bottom:solid 3px #B00A0A;
      			padding-top:10px;
      			padding-bottom:10px;
      		}

      		.textAlign {
      			text-align:center;
      		}

      		.col1 {
      			width:13%;
      		}

      		.col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9 {
      			width:10%;
      			text-align: center;
      				
      		}

      		.totalBorder {
      			border-top:solid 1px #B00A0A;
      		}
		</style>
	</head>
	<div class="pageHeader">
		<h2 style="text-align:center;color:#B00A0A">Season Forecast -- HQ MGR Detail</h2>
		<h3 style="color:#B00A0A">Forecast Season: {!season}</h3>
		<h3 style="color:#B00A0A">Confirmation Status: {!status}</h3>
	</div>
	<body>
	<apex:outputText value="{!HouseReps}" escape="false"/>
    <table>
    	<tbody>
    		<tr>
    			<td class="col1">Grand Totals:</td>
    			<td class="col2"></td>
    			<td class="col3">
    				<apex:outputText value="{0,Number,###,###,###,###}">
    					<apex:param value="{!FLOOR(grandTotals[0])}"/>
					</apex:outputText>
				</td>
				<td class="col4">
        			<apex:outputText value="{0,Number,Currency}">
          				<apex:param value="{!grandTotals[1]}"/>
        			</apex:outputText>
      			</td>
      			<td class="col5">
        			<apex:outputText value="{0,Number,Currency}">
          				<apex:param value="{!grandTotals[2]}"/>
        			</apex:outputText>
      			</td>
      			<td class="col6">
        			<apex:outputText value="{0,Number,Currency}">
          				<apex:param value="{!grandTotals[3]}"/>
        			</apex:outputText>
      			</td>
      			<td class="col7">
        			<apex:outputText value="{0,Number,Currency}">
          				<apex:param value="{!grandTotals[4]}"/>
        			</apex:outputText>
      			</td>
      			<td class="col8">
        			<apex:outputText value="{0,Number,Currency}">
          				<apex:param value="{!grandTotals[5]}"/>
        			</apex:outputText>
      			</td>
      			<td class="col9">
        			<apex:outputText value="{0,Number,Currency}">
          				<apex:param value="{!grandTotals[6]}"/>
        			</apex:outputText>
      			</td>
    		</tr>
  		</tbody>
	</table>
	</body>
</apex:page>