.THIS {
}

.THIS td {
    overflow:hidden;
}

.THIS .selectRecord:link {
    display: block;
    margin:-1em;
    padding:1em;
	text-decoration:none;
    color:#16325C;
}

.THIS .selectRecord:visited {
	text-decoration:none;
    color:#16325C;
}

.THIS .selectRecord:hover {
	text-decoration:none;
    color:#16325C;
}

.THIS .selectRecord:active {
	text-decoration:none;
    color:#16325C;
}

.THIS .multi-View1 {
    height:40px;
}

.THIS .multi-View2 {
    height:75px;
}

.THIS .multi-View3 {
    height:60px;
}

.THIS .uiInputDate .datePicker-openIcon {
    position:absolute;
    left:105%;  
}

.THIS .hideDiv {
    display:none;
}

.THIS .textSize {
    font-size:10pt;
}